{% extends '../base.html' %}
{% block content %}

{% for course in courses %}
<div class="course">
	<h2>{{ course.title }}{% if course.rating %}<small>(Average score : {{ course.rating }})</small>{% endif %}</h2>
	<p>{{ course.desc|truncatechars:500 }}</p>
	<a href="{% url 'marketplace:course_public_profile' course.id %}">See more</a>
	<small>Created at : {{ course.created }} | Last update: {{ course.updated }}</small>
</div>
{% endfor %}

<div class="paginator">
	{% if courses.has_previous %}
	<a href="?page=1">First</a> | 
	<a href="?page={{ courses.previous_page_number }}">&laquo; Previous</a>
	{% endif %}
	<span>Page {{ courses.number }} of {{ courses.paginator.num_pages }}</span>

	{% if courses.has_next %}
	<a href="?page={{ courses.next_page_number }}">Next &raquo;</a> | 
	<a href="?page={{ courses.paginator.num_pages }}">Last</a>
	{% endif %}
</div>
{% endblock %}
