{% extends '../base.html' %}

{% block title %}My Courses{% endblock %}

{% block content %}


<div class="search">
	<form method="GET">
		<fieldset>
			<input name="q" type="search" placeholder="Search Course..." value="{{ q }}"/>
			<button type="submit" class="search-btn">Search</button>
		</fieldset>
		<a href="#filter-box">▼ Filter and Order</a>
		<a href="{% url 'notes:search' %}">Search among notes</a>
		<div id="filter-box" class="modal-wrap">
			<div class="modal-box">
				<a href="#" class="close-modal">&times;</a>
				<fieldset class="common-form">
					<label for="from_id">From : </label>
					<input type="date" id="from_id" name="from" value="{{ request.GET.from }}">
					<label for="to_id">To : </label>
					<input type="date" id="to_id" name="to" value="{{ request.GET.to }}">
					<label for="order_id">Order by : </label>
					<select name="order">
						<option value="" {% if order == '' %}selected{% endif %}>Newest first</option>
						<option value="old" {% if order == 'old' %}selected{% endif %}>Oldest first</option>
						<option value="newmodify" {% if order == 'newmodify' %}selected{% endif %}>Newest modified first</option>
						<option value="oldmodify" {% if order == 'oldmodify' %}selected{% endif %}>Oldest modified first</option>
					</select>
					<button type="submit">Apply</button>
				</fieldset>
			</div>
		</div>
	</form>
</div>



<a href="{% url 'courses:create' %}" class="add-btn">+ add course</a>

{% for course in courses %}
<div class="course">
	<h2>{{ course.title }}</h2>
	<p>{{ course.desc | truncatechars:500 }}</p>
	<a href="{% url 'courses:detail' course.id %}">Notes of this course</a>
	<small>Created at : {{ course.created }} | Last update: {{ course.updated }}</small>
</div>


{% endfor %}


<div class="paginator">
	{% if courses.has_previous %}
	<a href="?page=1">First</a> | 
	<a href="?page={{ courses.previous_page_number }}">&laquo; Previous</a>
	{% endif %}
	<span>Page {{ courses.number }} of {{ courses.paginator.num_pages }}</span>

	{% if courses.has_next %}
	<a href="?page={{ courses.next_page_number }}">Next &raquo;</a> | 
	<a href="?page={{ courses.paginator.num_pages }}">Last</a>
	{% endif %}
</div>


{% endblock %}
