{% extends '../base.html' %}

{% block content %}

<div class="address">
	<a href="{% url 'courses:detail' note.course.id %}">← | {{ note.course.title }} &gt;</a> {{ note.title }} &gt;
</div>


<div class="headnote">
	<h1>{{ note.title }}</h1>
	<a href="{% url 'notes:delete' note.id %}" class="delete">&times; Delete this note</a>
	<a href="{% url 'notes:update' note.id %}" class="update">✏️ Edit this note</a>
	<h2>{{ note.desc|linebreaks }}</h2>
</div>

<div class="bodynote">
	<p>{{ content_md|safe }}</p>
</div>

<div class="notefiles">
	<h4>Files of this note :</h4>
	<ul>
	{% for file in files %}
	<li><a href="{{ file.file.url }}" class="link">{{ file.title }}</a></li>
	{% empty %}
	<h5>There is no file attached to this note</h5>
	{% endfor %}
	</ul>
</div>

<div class="footnote">
	<sup>{{ note.created }}</sup>
</div>

{% endblock %}
