{% extends '../base.html' %}

{% block content %}

<div class="login-box">
	<h2>Signup</h2>
	<p class="err">
	{% for field, errors in form.errors.items %}
	{% for err in errors %}
	{{ err }}
	{% endfor %}
	{% endfor %}
	</p>
	<form method="POST" class="common-form">
		{% csrf_token %}
		<label for="id_username">Username:</label>
		{{ form.username }}
		<label for="id_password1">Password:</label>
		{{ form.password1 }}
		<label for="id_password2">Password confirmation:</label>
		{{ form.password2 }}
		<button type="submit">Signup</button>
	</form>
	<div class="extra">
		<a href="{% url 'users:login' %}">Do you have an account? Login!</a>
	</div>

</div>


{% endblock %}
